.carousel-container {
    /* border: 5px solid red; */
    padding: 20px;
    /* background-color: black; */
    padding-bottom: 30px;
}

@media (min-width:320px) {
    .project {
        width: 80vw;
        height: 50vh;
        margin-top: 100px;
    }
}

@media (min-width:480px) {
    .project {
        width: 80vw;
        height: 50vh;
        margin-top: 100px;
    }
}

@media (min-width:600px) {
    .project {
        width: 80vw;
        height: 50vh;
        margin-top: 100px;
    }
}

@media (min-width:801px) {
    .project {
        width: 80vw;
        height: 50vh;
        margin-top: 100px;
    }
}

@media (min-width:1025px) {
    .project {
        width: 70vw;
        height: 85vh;
        margin-top: 100px;
    }
}

@media (min-width:1281px) {
    .project {
        width: 70vw;
        height: 85vh;
        margin-top: 100px;

    }
}

/* .desc {
    color: black;
    border-radius: 30px;
    color: aliceblue;
    text-align: left;
} */
@media (min-width:320px) {

    .desc {
        margin-top: 10px;
        background-color: aliceblue;
        padding-top: 30px;
        margin-bottom: 50px;
        height: 230px;
        color: black;
        border-radius: 10px;
    }
}

@media (min-width:481px) {
    .desc {
        margin-top: 10px;
        background-color: aliceblue;
        padding-top: 30px;
        margin-bottom: 50px;
        height: 230px;
        color: black;
        border-radius: 10px;
    }
}

@media (min-width:641px) {
    .desc {
        margin-top: 10px;
        background-color: aliceblue;
        padding-top: 30px;
        margin-bottom: 50px;
        height: 16vh;
        color: black;
        border-radius: 10px;
    }
}

@media (min-width:961px) {
    .desc {
        margin-top: 10px;
        background-color: aliceblue;
        padding-top: 30px;
        margin-bottom: 50px;
        height: 25vh;
        color: black;
        border-radius: 10px;
    }
}

@media (min-width:1025px) {
    .desc {
        margin-top: 10px;
        background-color: aliceblue;
        padding-top: 30px;
        margin-bottom: 50px;
        height: 25vh;
        color: black;
        border-radius: 10px;
    }
}

@media (min-width:1281px) {
    .desc {
        margin-top: 10px;
        background-color: aliceblue;
        padding-top: 30px;
        margin-bottom: 50px;
        height: 20vh;
        color: black;
        border-radius: 10px;
    }
}

.label-title {
    color: rgb(0, 139, 81);
}

.label-title:hover {
    transition: ease 0.5s;
    filter: brightness(1.7);
}

.stacks {
    color: #0ec508;
}

.stacks:hover {

    filter: brightness(1.2);
}