.carousel-container {
    /* border: 5px solid red; */
    padding: 20px;
    /* background-color: black; */
    padding-bottom: 30px;
    /* display: flex;
    justify-content: center; */
}

.temp {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (min-width:320px) {
    .project {
        width: 90vw;
        height: 40vh;
        margin-top: 100px;
    }
}

@media (min-width:481px) {
    .project {
        width: 90vw;
        height: 40vh;
        margin-top: 100px;
    }
}

@media (min-width:641px) {
    .project {
        width: 80vw;
        height: 50vh;
        margin-top: 100px;
    }
}

@media (min-width:961px) {
    .project {
        width: 70vw;
        height: 50vh;
        margin-top: 100px;
    }
}

@media (min-width:1025px) {
    .project {
        width: 70vw;
        height: 70vh;
        margin-top: 100px;
    }
}

@media (min-width:1281px) {
    .project {
        width: 50vw;
        
        margin-top: 100px;

    }
}

@media (min-width:320px) {

    .desc {
        margin-top: 10px;
        background-color: aliceblue;
        padding-top: 30px;
        margin-bottom: 50px;
        height: 230px;
        color: black;
        border-radius: 10px;
    }
}

@media (min-width:481px) {
    .desc {
        margin-top: 10px;
        background-color: aliceblue;
        padding-top: 30px;
        margin-bottom: 50px;
        height: 230px;
        color: black;
        border-radius: 10px;
    }
}

@media (min-width:641px) {
    .desc {
        margin-top: 10px;
        background-color: aliceblue;
        padding-top: 30px;
        margin-bottom: 50px;
        height: 16vh;
        color: black;
        border-radius: 10px;
    }
}

@media (min-width:961px) {
    .desc {
        margin-top: 10px;
        background-color: aliceblue;
        padding-top: 30px;
        margin-bottom: 50px;
        height: 25vh;
        color: black;
        border-radius: 10px;
    }
}

@media (min-width:1025px) {
    .desc {
        margin-top: 10px;
        background-color: aliceblue;
        padding-top: 30px;
        margin-bottom: 50px;
        height: 25vh;
        color: black;
        border-radius: 10px;
        /* width: 50vw; */
        /* display: flex;
        justify-content: center; */
    }
}

@media (min-width:1281px) {
    .desc {
        margin-top: 10px;
        background-color: aliceblue;
        padding-top: 30px;
        margin-bottom: 50px;
        height: 23vh;
        
        
        color: black;
        border-radius: 10px;
    }
}

.label-title {
    color: rgb(0, 139, 81);
}

.label-title:hover {
    transition: ease 0.5s;
    filter: brightness(1.7);
}

.stacks {
    color: #0ec508;
}

.stacks:hover {

    filter: brightness(1.2);
}