.about-2 {
    background-color: #84cdee;
    padding-bottom: 40px;
}

#pics {
    margin-top: 20px;
}

#myPic2 {
    width: 450px;
}

.about2 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}


#about2-title {   
    color: #edf7fc;
    -webkit-text-stroke: 5px #b9e2f5;
    font-family: 'Bungee', cursive;
    font-size: 7vh;
    
}