.about {
    
    background-color: #000;
    padding-bottom: 40px;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

/* body {
	display: flex;
	background: rgb(46, 139, 226);
	min-height: 100vh;
	align-items: center;
	justify-content: center;
} */

.about-content {
	position: relative;
}

.about-content h2 {
	/* color: #fff; */
	font-size: 60px;
	position: absolute;
    /* left: 1%; */
    
    -webkit-text-stroke: 2px rgb(0, 89, 255);  
}



@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

.myPic {
    width: 70vh;
}

.about-title {
    color:rgb(0, 26, 255);
    text-shadow: rgba(0, 89, 255, 0.418) 1px 0 10px;
    
    filter: brightness(1.5);
    /* font-family: 'Bungee', cursive; */
}

.about-title1 {
	color: #03a9f4;
    /* font-family: 'Bungee', cursive; */
	animation: animate 4s ease-in-out infinite;
    /* text-shadow: rgba(255, 255, 255, 0.274) 10px 10px 10px; */
    
}

.col {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;   
    
}

.about2 {
    display: flex;
    flex-direction: column;
    
}

.about-context {
    margin-top: 100px;
    color:rgb(0, 89, 255);
    /* -webkit-text-stroke: 2px #000; */
    /* text-shadow: rgb(255, 255, 255) 1px 0 10px; */
    text-align: left;
    /* font-family: 'Titillium Web', sans-serif; */
    font-size:30px;
    
}



span {
    /* background-color: rgba(0, 136, 255, 0.267); */
    /* color: #000; */
    color:aliceblue;
}

.emphasize {
    color: rgb(255, 195, 83);
    /* filter: brightness(2); */
    font-size: 30px;
    margin: 0;
}

.univ {
    font-size:30px;
    /* background-color: rgba(255, 249, 163, 0.5); */
    font-weight: 900;
    color: rgb(235, 187, 98);
    border-radius: 10px;
    /* padding-left: 5px; */
    padding-right: 5px;
    /* -webkit-text-stroke: 0.001px #000; */
    text-shadow: rgb(207, 185, 145) 5px 5px 10px;
    

}