.social-icon {
    display: flex;
    flex-flow: row;

}

.social-icon:hover {
    filter: brightness(150%);
}

.kakaotalk {

    align-items: center;
    width: 2.1rem;
    transition: all 0.5s;
    animation: ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}


.facebook {
    color: #4267b2;
    transition: all 0.5s;
    animation: ease-in-out;
    /* margin-right: 5px; */
}


.instagram {
    color: rgb(238, 118, 138);
    transition: all 0.5s;
    animation: ease-in-out;
    /* margin-right: 5px; */
}





.weixin {
    color: green;
    cursor: pointer;
    transition: all 0.5s;
    animation: ease-in-out;
    /* margin-right: 5px; */
}

.weixin:hover {
    filter: drop-shadow(5px 5px 5px rgb(123, 179, 46));
    cursor: pointer;
}

.linked-in {
    /* color: blue; */
    transition: all 0.5s;
    animation: ease-in-out;
    /* margin-right: 5px; */
}



.github {
    color: purple;
    transition: all 0.5s;
    animation: ease-in-out;
    /* margin-right: 5px; */
}



.fa-envelope {
    color: rgb(0, 174, 255);
    transition: all 0.5s;
    animation: ease-in-out;
    /* margin-right: 5px; */
}



.mail {
    display: flex;
    align-items: center;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}


#project-carousel {
    position: relative;

}

@media (min-width: 320px) {
    #footer-top-object {
        /* display:flex;
        flex-direction: column; */

    }
}

@media (min-width: 481px) {
    #footer-top-object {}
}

@media (min-width: 641px) {
    #footer-top-object {}
}

@media (min-width: 961px) {
    #footer-top-object {}
}

.footer-tab {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

@media (min-width: 640px) {
    .footer-tab {
        margin-top: 0px;
    }
}