.footer-container {
    background-color: rgb(147 197 253);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.website-rights {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: 900;
    color: rgba(34, 34, 34, 0.74);
    margin-bottom: 20px;
}

.social-icon {
    display: flex;
    flex-flow: row;
    
}

.social-icon:hover {
    filter: brightness(50%);
}

.kakaotalk {
    
    align-items: center;
    width: 2.1rem;
    transition: all 0.5s;
    animation: ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}


.facebook {
    color: #4267b2;
    transition: all 0.5s;
    animation: ease-in-out;
    /* margin-right: 5px; */
}


.instagram {
    color: rgb(238, 118, 138);
    transition: all 0.5s;
    animation: ease-in-out;
    /* margin-right: 5px; */
}





.weixin {
    color: green;
    cursor: pointer;
    transition: all 0.5s;
    animation: ease-in-out;
    /* margin-right: 5px; */
}

.weixin:hover {
    filter: drop-shadow(5px 5px 5px rgb(123, 179, 46));
    cursor: pointer;
}

.linked-in {
    color: blue;
    transition: all 0.5s;
    animation: ease-in-out;
    /* margin-right: 5px; */
}



.github {
    color: purple;
    transition: all 0.5s;
    animation: ease-in-out;
    /* margin-right: 5px; */
}



.fa-envelope {
    color: rgb(0, 174, 255);
    transition: all 0.5s;
    animation: ease-in-out;
    /* margin-right: 5px; */
}



.mail {
    display: flex;
    align-items: center;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

.wave-title {
    color: rgb(0, 26, 255);
    text-shadow: rgba(0, 89, 255, 0.418) 1px 0 10px;

    filter: brightness(1.5);
    font-family: 'Bungee', cursive;
    font-size: 20px;
}

.wave-title1 {
    color: #03a9f4;
    font-size: 20px;
    font-family: 'Bungee', cursive;
    animation: animate 4s ease-in-out infinite;

}


.wave-content h2 {
    font-size: 60px;
    position: absolute;
    left: 1%;
    right: 1%;

    -webkit-text-stroke: 2px rgb(0, 89, 255);
}
